/* Fonts Link Here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Variable Decliare Here */
:root {
    --black: #000;
    --light-black: #2d2d2d;
    --white: #fff;
    --danger: #dc3545;
    --max-container: 80%;
    --md-container: 90%;
    --sm-container: 95%;
}


/* Rest Css default Property   */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

/* Create Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}



/* Header Section Start Here */

header {
    background: rgba(108, 117, 125, 0.1);
    padding: 1.6rem 0;
}

header .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-container);
    margin: auto;
    padding-left: 10rem;
}

header .header-row span {
    font-size: 24px;
}

header .header-row .left {
    display: flex;
    align-items: center;
    gap: 0.8em;
    border-left: 1px solid rgba(108, 117, 125, 0.1);
    padding-left: 1rem;
}

header .header-row .left span:nth-child(2) {
    font-size: 14px;
    text-transform: uppercase;
}

header .header-row .right {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    
}

header .header-row .right .attact-icon {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-right: 1px solid rgba(108, 117, 125, 0.1);
    padding-right: 1rem;
}

header .header-row .right .attact-icon span:nth-child(2) {
    font-size: 12px;
    color: rgba(108, 117, 125, 0.3);
}

header .header-row .right .search-box {
    position: relative;
    display: flex;
    align-items: center;
}

header .header-row .right .search-box span i{
    position: absolute;
    right: 46%;
    font-size: 16px;
    top: 30%;
}

header .header-row .right input {
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    width: 60%;
    font-size: 16px;
    padding: 0.5rem 2rem 0.5rem 0.8rem;
}

header .header-row .right img {
    width: 24px;
    padding-bottom: 5px;
}

/* Header Section End Here */

/* Navbar Section Start Here */

nav {
    position: sticky;
    padding: 1rem 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    z-index: 1000;
    top: 0;
    background: var(--white);

}

.nav-row .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-weight: 500;
    position: relative;
    margin: 0;
}

.nav-row .menu-list .drop-down {
    position: absolute;
    left: 585px;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 11%;
}

.nav-row .menu-list .drop-down2 {
    position: absolute;
    right: 468px;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 11%;
}

.nav-row .menu-list .drop-down .fa-angle-right {
    display: none;
    transition: all .3s ease;
    
}

.nav-row .menu-list .drop-down2 .fa-angle-right {
    display: none;
    transition: all .3s ease;  
}

.nav-row .menu-list .drop-down a #slow-gap {
    transition: all .3s ease;
}

.nav-row .menu-list .drop-down2 a #slow-gap {
    transition: all .3s ease;
}

.nav-row .menu-list .drop-down a:hover #slow-gap {
    padding-left: 10px;
}

.nav-row .menu-list .drop-down2 a:hover #slow-gap {
    padding-left: 10px;
    display: inline-block;
}


.nav-row .menu-list .drop-down a:hover .fa-angle-right {
    display: inline;
    transition: all .3s ease;
}

.nav-row .menu-list .drop-down2 a:hover .fa-angle-right {
    display: inline;
    transition: all .3s ease;
}

.nav-row .menu-list .drop-down {
    display: none;
}

.nav-row .menu-list .drop-down2 {
    display: none;
}

.nav-row .menu-list li:hover .drop-down {
    display: flex;
    flex-direction: column;
}

.nav-row .menu-list li:hover .drop-down2 {
    display: flex;
    flex-direction: column;
}


.nav-row .menu-list .drop-down a,
.nav-row .menu-list .drop-down2 a,
.nav-row .menu-list .drop-down3 a {
    background: var(--white);
    padding: 9px 20px;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 300;
}

h6 {
    background-color: #fff;
    margin: 0;
    padding: 0 0 20px 18px;
    font-size: 13px;
    font-weight: 600;
}


.nav-row .menu-list .drop-down a:hover,
.nav-row .menu-list .drop-down2 a:hover,
.nav-row .menu-list .drop-down3 a:hover{
    font-weight: 500;
}


.nav-row .menu-list .drop-down a:nth-child(1),
.nav-row .menu-list .drop-down2 a:nth-child(1),
.nav-row .menu-list .drop-down3 a:nth-child(1) {
    border-bottom: none;
    padding-top: 0px;
}

.nav-row .menu-list .drop-down a:last-child,
.nav-row .menu-list .drop-down2 a:last-child,
.nav-row .menu-list .drop-down3 a:last-child {
    border-bottom: none;
}

.nav-row .menu-list a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-row .menu-list a li::after {
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    background-color: #000;
    transition: 0.2s linear;
}

.nav-row .menu-list li {
    font-size: 14px;
}

.nav-row .menu-list a li:hover::after {
    width: 100%;
}

.nav-row .menu-list #active-color {
    color: var(--danger);
}


.nav-row .menu-list .drop-down3 {
    height: 65vh;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    width: 100%;
    right: 0;
    top: 20px;
    padding: 4rem 10rem;
    background-color: #fff;
    transform: translateY(50px);
    transition: transform .45s linear;
    box-shadow: 0 3px 3px -3px #0000001a;
    visibility: hidden;
    margin: auto;
}


.nav-row .menu-list .drop-down3 .inner-menu #changes {
    padding-left: 0px;
}

.nav-row .menu-list li:hover .drop-down3 {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.nav-row .menu-list .drop-down3 .inner-menu {
    display: flex;
    flex-direction: column;
}

.nav-row .menu-list .drop-down3 .inner-menu a {
    font-size: 12px;
    border-bottom: none;
}

.nav-row .menu-list .drop-down3 .inner-menu .set-color {
    color: red;
}

.nav-row .menu-list .drop-down3 .inner-menu #setColor {
    color: red;
}


.nav-row .menu-list .drop-down3 a #slow-gap {
    transition: all .3s ease;
}


.nav-row .menu-list .drop-down3 a:hover #slow-gap {
    padding-left: 10px;
}

.nav-row .menu-list .drop-down3 .fa-angle-right {
    display: none;
    transition: all .3s ease;  
}

.nav-row .menu-list .drop-down3 a:hover .fa-angle-right {
    display: inline;
    transition: all .3s ease;
}


.nav-row .menu-list .drop-down3 a #slow-gap::after {
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    background-color: #000;
    transition: 0.2s linear;
}

.nav-row .menu-list a:hover #slow-gap::after {
    width: 100%;
}



/* Navbar Section End Here */

/* Banner Slide Section Start Here */

/* Boostrap Used ========================================= */

/* Banner Slide Section End Here */

/* People Fashion Section Start Here */

.people-fashion-container .fashion-row {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 1.8rem 0;
}

.people-fashion-container .fashion-row .top-section {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    position: relative;
    cursor: pointer;
}

.mens-collection {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mens-collection::before {
    position: absolute;
	content: "";
    display: block;
	width: 100%;
	height: 100%;
	background-color: #232323;
	overflow: hidden;
	opacity: 0;
	z-index: 2;
	transition: all .5s ease;
}

.mens-collection:hover::before {
    opacity: 0.3;
}

.mens-collection img {
	transition: all .7s ease; 
}

.mens-collection:hover img {
	transform: scale3d(1.1,1.1,1);
}

.people-fashion-container .fashion-row .top-section img {
    width: 100%;
}


.people-fashion-container .fashion-row .bottom-section img {
    width: 100%;
    height: 100%;
}

/* People Fashion Section End Here */

/* Features Product Section Start Here */

.product-feature-container .feature-row {
    max-width: 70%;
    margin: auto;
}

.just-products {
    max-width: 70%;
    margin: auto;
}

.product-feature-container .feature-menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.product-feature-container .feature-menu .menu-list li {
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 15px;
}

.product-feature-container .feature-products .card {
    width: 20%;
    text-align: center;
}

.product-feature-container .feature-products {
    position: relative;
    padding: 2rem 2rem;
    
}

.product-feature-container .feature-products .card img {
    width: 80%;
}

.swiper-button-next {
    position: absolute;
    right: 0px;
    top: 200px;
}

.swiper-button-prev {
    position: absolute;
    left: 0px;
    top: 200px;
}

.add-cart {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;

}

.card {
    padding: 0.8rem 1rem 2rem 1rem;
    border: none;
    transition: all .3s ease;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 1px 5px #0003;
    transform: scale(1.05);
}

.card-image {
    transition: all .3s ease;
    transform: scale(1.05);
}

.card-image img {
    transform: translateY(0px);
    transition: all .3s ease;
}

.card:hover .card-image img {
    transform: scale(1.25) rotate(15deg);
}

.card-content p:nth-child(1) {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 1rem;
}

.card-content p:nth-child(2) {
    font-size: 14px;
}

.card-content h4 {
    color: var(--danger);
    padding: 0.8rem 0;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 700;
}


.card:hover .add-cart {
    opacity: 1;
    background-color: var(--black);
}

.card .add-cart:hover {
    background-color: var(--danger);
}

.add-cart a {
    text-decoration: none;
    color: var(--white);
}


/* Features Product Section End Here */

/* Display Banner Section Start Here */

.three-banner-container {
    max-width: 70%;
    margin: auto; 
}

.three-banner-container .three-ban-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 2rem;

}

.three-banner-container .three-ban-row img {
    width: 100%;
    height: 45vh;
    transition: all .7s ease;
}


.three-banner-container .banner:hover img {
	transform: scale3d(1.1,1.1,1);
    
}

.three-banner-container .banner {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.three-banner-container .banner::before {
    position: absolute;
	content: "";
    display: block;
	width: 100%;
	height: 100%;
	background-color: #232323;
	overflow: hidden;
	opacity: 0;
	z-index: 2;
	transition: all .5s ease;
}

.three-banner-container .banner:hover::before {
    opacity: 0.3;
}

.three-banner-container .three-ban-row .banner-content {
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.07);
    z-index: 3;
    position: relative;
}

.three-banner-container .three-ban-row .banner-content h3 {
    margin: 0;
    padding: 1.5rem 1rem 0 1rem;
    position: relative;
    background: var(--white);
    display: inline-block;
    top: -15px;
    font-size: 20px;
}

.three-banner-container .three-ban-row .banner-content p {
    font-size: 14px;
    padding: 0 1rem;
}

.three-banner-container .three-ban-row .banner-content span {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .02em;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
    display: inline-block;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

/* Display Banner Section End Here */


/* Just Landed Product Section Start Here */

.just-landed-container,
.best-seller-container {
    max-width: 70%;
    margin: auto;
    padding: 2rem 2rem;
}

.just-landed-container .title,
.best-seller-container .title {
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
}

.just-landed-container .card-image img,
.best-seller-container .card-image img {
    width: 80%;
}

.ju-card .card-image img,
.best-card .card-image img {
    transform: translateY(0px);
    transition: all .3s ease;
}

.ju-card:hover .card-image img,
.best-card:hover .card-image img {
    transform: scale(1.25) rotate(15deg);
}

.ju-card,
.best-card {
    padding: 0.8rem 1rem 2rem 1rem;
    border: none;
    transition: all .3s ease;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.ju-card:hover,
.best-card:hover {
    box-shadow: 0 1px 5px #0003;
    transform: scale(1.05);
}

.card-content,
.ju-card-content,
.best-card-content {
    position: relative;
    z-index: 2;
}

.card-content p:nth-child(1) {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 1rem;
}

.card-content p:nth-child(2) {
    font-size: 14px;
}

.ju-card-content h4,
.best-card-content h4 {
    color: var(--danger);
    padding: 0.8rem 0;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 700;
}


.ju-card:hover .add-cart,
.best-card:hover .add-cart {
    opacity: 1;
    background-color: var(--black);
}

.ju-card .add-cart:hover,
.best-card .add-cart:hover {
    background-color: var(--danger);
}

.add-cart a {
    text-decoration: none;
    color: var(--white);
}

/* Just Landed Product Section End Here */

/* Advertise Banner Section Start Here */

.advertise-banner-container {
    max-width: 70%;
    margin: auto;
    padding-bottom: 2rem;
}

.advertise-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
}


.advertise-row img {
    width: 100%;
    
}

.advertise-row .left-banner a,
.advertise-row .right-banner a{
    position: relative;
    display: block;
}

.advertise-row .left-banner a::before,
.advertise-row .left-banner a::after,
.advertise-row .right-banner a::before,
.advertise-row .right-banner a::after {
	content: "";
	position: absolute;
	background: rgba(255,255,255,.2);
	width: 0%;
	height: 0%;
	transition: all .4s ease-in-out;
	border: 1px solid rgba(255,255,255,.6);
	visibility: hidden;
}

.advertise-row .left-banner a::after,
.advertise-row .right-banner a::after {
	bottom: 0;
	right: 0;
}


.advertise-row .left-banner a::before,
.advertise-row .right-banner a::before {
	top: 0;
	left: 0;
}

.advertise-row .left-banner a:hover::before,
.advertise-row .left-banner a:hover::after,
.advertise-row .right-banner a:hover::before,
.advertise-row .right-banner a:hover::after {
	width: 100%;
	height: 100%;
	visibility: visible;
}

/* Advertise Banner Section End Here */

/* Best Seller Section Start Here */

/* This Style Attact with Top Section */

/* Best Seller Section End Here */

/* Advertiseing Section Start Here */


.advertise-shop-container {
    max-width: 70%;
    margin: auto;
}

.advertise-shop-container .shop-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.advertise-shop-container .title {
    padding-left: 2rem;
    text-transform: uppercase;
}

.advertise-shop-container .shop-row .banner {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.advertise-shop-container .shop-row .banner img {
    width: 100%;
    height: 45vh;
    transition: all .7s ease;
}

.advertise-shop-container .shop-row .banner:hover img {
    transform: scale3d(1.1,1.1,1); 
}

.advertise-shop-container .shop-row .banner::before {
    position: absolute;
	content: "";
    display: block;
	width: 100%;
	height: 100%;
	background-color: #232323;
	overflow: hidden;
	opacity: 0;
	z-index: 2;
	transition: all .5s ease;
}

.advertise-shop-container .shop-row .banner:hover::before {
    opacity: 0.3;
}

.advertise-shop-container .shop-row .banner-content {
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.07);
}

.advertise-shop-container .shop-row .banner-content .attact {
    background: var(--white);
    display: inline-block;
    padding: 0.5rem 8rem;
    position: relative;
    top: -15px;
    z-index: 4;
}

.advertise-shop-container .shop-row .banner-content span {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing: .02em;
}

.advertise-shop-container .shop-row .banner-content h4 {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: .02em;
}

.advertise-shop-container .shop-row .banner-content p {
    font-size: 14px;
    line-height: 25px;
    padding: 0 1rem;
}

.advertise-shop-container .shop-row .banner-content a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .02em;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
	display: inline-block;
	padding-bottom: 1.5rem;
	cursor: pointer;
    text-decoration: none;
    color: var(--black);
}


/* Advertiseing Section End Here */

/* Recent Posts Section Start Here */

.post-container {
    max-width: 70%;
    margin: 2rem auto; 
    padding: 0 2rem;
}

.post-container .post-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.post-container .post-row .post-box {
    width: 50%;
}

.post-container .post-row .post-banner {
    overflow: hidden;
    
}

.post-container .post-row .post-banner img {
    width: 100%;
    transition: all .7s ease;
}

.post-container .post-row .post-banner:hover img {
    transform: scale3d(1.1,1.1,1); 
}

.post-container .post-row .post-content {
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.07);
    
}

.post-container .post-row .post-content span{
    display: inline-block;
    line-height: 20px;
    color: #969696;
    letter-spacing: .02em;
    margin-bottom: 15px;
    padding-top: 21px;
    background: var(--white);
    font-size: 14px;
    padding: 0.5rem 8rem;
    position: relative;
    z-index: 4;
    top: -30px;
}

.post-container .post-row .post-content h5 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 14px;
    padding: 0 115px;
    display: inline-block;
}

.post-container .post-row .post-content p {
    font-size: 14px;
    padding: 0 5rem;
}

.post-container .post-row .post-content a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .02em;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
	display: inline-block;
	padding-bottom: 1.5rem;
	cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

/* Recent Posts Section End Here */

/* Social Slider Section Start Here */

.social-intro-container {
    max-width: 70%;
    margin: 2rem auto; 
    padding: 0 2rem;
}

.social-intro-container .intro-row .title {
    margin-top: 4rem;
}

.social-intro-container .intro-row .title span {
    display: inline-block;
    padding-bottom: 1rem;
    color: var(--danger);
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.social-intro-container .social-slides {
    display: flex;
    flex-direction: row;

}

.social-slide-container img {
    width: 100%;
    
}

.social-slide-container .slide {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
}


.social-slide-container .slide::before {
    content: "";
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, .1);
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: all .3s ease 0s;
}

.social-slide-container .slide:hover::before {
   opacity: 1; 
   left: 0%;
}

/* Social Slider Section End Here */

/* Footer Section Start Here */

footer {
    background: var(--black);
    padding: 2rem 0;
    margin-top: 4rem;
}

.footer-row {
    max-width: 70%;
    margin: auto;
    color: var(--white);
}

.footer-row .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #2a2a2a;
    padding-bottom: 2rem;
}

.footer-row .list h4 {
	font-size: 16px;
	letter-spacing: .02em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 19px;
	margin: 0;
}

.footer-row .list a {
    text-decoration: none;
    color: var(--white);
    line-height: 30px;
    font-size: 14px;
}

.footer-row .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer-row .footer-bottom .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer-row .footer-bottom .left span {
    font-family: Arimo,sans-serif;
    font-size: 12px;
    letter-spacing: .02em;
    font-weight: 700;
}

.footer-row .footer-bottom .left span input {
    padding: 0.5rem 0;
    width: 250px;
    font-size: 20px;
    pointer-events: none;
}

.footer-row .footer-bottom .right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 20px;
}

.copy-write {
    text-align: center;
    padding: 1rem;
    color: #969696;
}

/* Footer Section End Here */


/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */

/* Product Card Page Style */

.selected-product-container {
    max-width: var(--max-container);
    margin: auto;
}

.selected-product-container .breadcum-section nav {
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	z-index: 10;
    margin-top: 1rem;
}

.selected-product-container .breadcum-section ol {
    display: flex;
    gap: 1rem;
}

.selected-product-container h5 {
    font-weight: 600 !important;
    letter-spacing: 1px;
}


.selected-product-container .selected-product-row .left-content{
    display: flex;
    justify-content: center;
    width: 50%;
}

.selected-product-container .selected-product-row {
    display: flex;
    flex-wrap: wrap;
}

.selected-product-container .selected-product-row .left-content img{
    width: 80%;
    height: 600px;

}



.selected-product-container .selected-product-row .right-content{
    width: 50%;
}

.selected-product-container .right-content .product-title h2 {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 18px;
    display: block;
}

.selected-product-container .right-content .tag-name {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.selected-product-container .right-content .tag-name .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 700;
    min-width: 117px;
    margin-right: 5px;
    color: #000;
    font-size: 14px;

    
}

.selected-product-container .right-content .tag-name .right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #2d2d2d;
    gap: 0.5rem;
}

.selected-product-container .right-content .tag-name .right span:last-child {
    font-weight: 600;
}

.selected-product-container .right-content .price {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.8rem 0;
}

.selected-product-container .right-content .price span:first-child {
    color: #969696;
    margin-right: 8px;
    font-weight: 700;
    position: relative;
    font-size: 22px;
}

.selected-product-container .right-content .price span:first-child::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translatey(-50%);
	width: 100%;
	height: 2px;
	visibility: visible;
	background: #969696;
}

.selected-product-container .right-content .price span:nth-child(2) {
    color: #e7040f;
    font-size: 22px;
    font-weight: 700;
}

.selected-product-container .right-content .price span:last-child {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: var(--white);
    font-weight: 700;
    background-color: var(--danger);
    padding: 0.2rem 0.4rem;
    position: relative;
}

.selected-product-container .right-content .price span:last-child::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 7px solid #e7040f;
	border-bottom: 5px solid transparent;
}

.selected-product-container .right-content .message {
    font-weight: 600;
    font-size: 14;
    margin-bottom: 3rem;
    color: var(--light-black);
}

.selected-product-container .product-text p {
    font-size: 14px;
    color: var(--light-black);
    line-height: 24px;
    letter-spacing: .02em;
    margin-bottom: 25px;
}



.selected-product-container .product-size h5,
.selected-product-container .color h5,
.selected-product-container .cupon-code h5{
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: #000;
	margin-bottom: 10px;
}

.selected-product-container .product-size h5 em,
.selected-product-container .color h5 em,
.selected-product-container .cupon-code h5 em {
    color: #e7040f;
    font-style: unset;
}



.selected-product-container .product-size span {
	width: 42px;
	height: 42px;
	line-height: 44px;
	text-align: center;
	border-radius: 50%;
    border: 1px solid #e3e3e3;
    color: #141414;
    display: inline-block;
    text-align: center;
    margin: 0 0.8rem 1.8rem 0;
}

.selected-product-container .color span {
	width: 42px;
	height: 42px;
	line-height: 44px;
	text-align: center;
	border-radius: 50%;
    border: 2px solid #e3e3e3;
    color: #141414;
    display: inline-block;
    text-align: center;
    margin: 0 0.8rem 1.8rem 0;
    background: black;
    position: relative;
    cursor: pointer;
    /* z-index: -1; */
}

.selected-product-container .color span::after {
    content: "Black";
    display: none;
    position: absolute;
    z-index: 10;
    top: -50px;
    left: -10px;
    background: var(--black);
    color: var(--white);
    font-size: 12px;
    padding: 0 0.8rem;

}

.selected-product-container .color span:hover::after {
    display: inline;
}

.selected-product-container .cupon-code {
  user-select: none;
}


.selected-product-container .cupon-code p {
    border: 1px solid #e8e5e5;
    color: var(--light-black);
    padding: 0.5rem 0.5rem;
}

.selected-product-container .quantity {
    margin: 1.8rem 0;
}

.selected-product-container .quantity h5 {
    margin-bottom: 0.8rem;
}

.selected-product-container .quantity i,
.selected-product-container .quantity span {
    border: 1px solid #e8e5e5;
    display: inline-block;
    padding: 0.4rem 0.8rem;
}

.selected-product-container .get-payment-form {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selected-product-container .get-payment-form h5 {
    background: var(--black);
    width:90%;
    font-size: 18px;
    padding: 0.8rem 0.8rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.selected-product-container .get-payment-form h5:hover {
    background: var(--danger);
}

.selected-product-container .get-payment-form span {
    border: 1px solid var(--black);
    padding: 0.6rem 0.5rem 0rem 0.5rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    
}

.selected-product-container .get-payment-form span:hover {
    background: var(--black);
    color: var(--white);
}

.selected-product-container .get-payment-form span .fa-heart {
    font-size: 30px;
    font-weight: 300 !important;
}





/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */


/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */

/* Shoping Page Style Here */

.shopDive {
    position: relative;
}


.shoping-page {
    width: 500px;
    position: absolute;
    top: 70px;
    right: 300px;
    z-index: 5000;
    background: var(--white);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    display: none;
}



.shoping-page .page {
    width: 500px;
    padding: 3rem;
    border: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.shoping-page .page #page {
    border: 2px solid var(--black);
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    padding: 0.5rem 2.8rem;
    font-weight: 600;
    color: var(--black);
    transition: all 0.3s ease-in;
}

.shoping-page .page #page:hover {
    color: var(--white);
    background: var(--black);
}



/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */


/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */
/* All Product Page Style */
.all-product-container {
    max-width: var(--max-container);
    margin: auto;
}

.all-product-container .all-product-row {
    background: #fafafa;
    padding: 3rem 1.8rem;
    width: 50rem;
    margin: auto;
}

.all-product-container .product-content-container {
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
}

.all-product-container .product-content-container .product-img {
    width: 30%;
    padding: 1rem 2rem;
}


.all-product-container .product-content-container .product-img img {
    width: 100%;
    cursor: zoom-in;
}


.all-product-container .product-content-container .product-content {
    width: 70%;
    padding: 1rem 2rem;
} 

.all-product-container .product-content .header h3 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 0.8rem;
}

.all-product-container .product-content .basic-info span {
    display: inline-block;
    line-height: 22px;
    color: #777;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0.8rem;
}

.all-product-container .product-content .total {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.8rem;
}

.all-product-container .product-content h5 {
    margin-bottom: 0.6rem;
    font-size: 13px;
    font-weight: 500;
}

.all-product-container .product-content .quantey-remove {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.all-product-container .product-content .quantity .fa-minus,
.all-product-container .product-content .quantity .fa-plus {
    border: 1px solid #f1f1f1;
    font-size: 12px;
    padding: 0.7rem 1.6rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.all-product-container .product-content .quantity .fa-plus {
    margin-left: 0.5rem;
}

.all-product-container .product-content .quantity span {
    font-size: 12px;
}

#remove-item span {
    /* display: inline-block; */
    padding: 0.5rem 3rem;
    border: 1px solid #f1f1f1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
} 








/* ********************************************************************************************
                        ++++++++++++++++++++++++++++++++++++++
=============================================================================================== */